{% load i18n %}

<form {% if submit_url %}action="{{ submit_url }}"{% endif %} method="post" class="dk-form">
  {% csrf_token %}

  {% for field in form.visible_fields %}
  {% include "base/field.html" with field=field %}
  {% endfor %}

  {# these are, for the most part, unused #}
  {% for field in form.hidden_fields %}{{ field }}{% endfor %}

  <div class="form-footer">
    <input class="submit-question" type="submit" value="{% trans submit_value %}"> <small>&nbsp;{% trans submit_and %}</small>
  </div>
</form>
